<!DOCTYPE html>
<html>
  <head>
    <!-- standard stuff for head -->
    <title>Placeholder Name</title>
    <script type="text/javascript" src="static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
  <body>
    <div class="container">
    <div id='user_area' class="user_area">
        <h1>Kanban Boards</h1>
        <h2>Kia Ora {{ current_user.UserName }}</h2>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/logout'>Logout</a></li>

        </ul>
    </div>
    
    <div id='boards_list' class="board-list">  
      <ul class="button-container">
        {% for list in lists %}
        <li>
          <button class="board-button" id="{{list}}" onclick="selectTheList(this.id)">{{list}}</button>
        </li>
        {% endfor %}
        <li><button type="button" onclick="openPopup()">Create New Board</button></li>
      </ul><br>
    </div>

    <div class="popup-overlay" id="popup-overlay">
      <div class="popup" id="boardname">
        <button class="close" id="closePopup" onclick="closePopupFunc()">&times;</button>
        <div class="popup-content">
          <p>Please enter a name for your board</p>
          <input type="text" placeholder="Todo List" id="kanbanName">
          <button onclick="submitName()">Create</button>
        </div>
      </div>
    </div>

    <div class="popup-overlay" id="popup-overlay-list">
      <div class="popup" id="listname">
        <button class="close" id="closePopup" onclick="closeListPopupFunc()">&times;</button>
        <div class="popup-content">
          <p>Please enter a name for your list</p>
          <input type="text" placeholder="List Name" id="listName">
          <button onclick="createBoardList()">Create</button>
        </div>
      </div>
    </div>

  <div class="popup-overlay" id="popup-overlay-item">
      <div class="popup" id="itemname">
        <button class="close" id="closePopup" onclick="closeItemPopupFunc()">&times;</button>
        <div class="popup-content">
          <p>Please enter the task name</p>
          <input type="text" placeholder="Task Name" id="itemName">
          <button onclick="newItemOnList()">Create</button>
        </div>
      </div>
    </div>

    <div class="board-container" id="board-container">
      <button onclick="openListPopup()">New List</button>
    </div>

    <input name="user_id" id="user_id" value="{{ user_id }}" type="hidden" style="position: absolute;">
    
  </body>
</html>
