<html>
  <head>
    <title>Placeholder Name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>Login</h1>
    
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/register'>Register</a></li>
    </ul>

    <form method="post" action="">
      {{ form.hidden_tag() }}
      {{ form.email }} <br><br>
      {{ form.password }} <br><br>
      <label>Remember me?</label>
      {{ form.remember }} <br><br>
      {{ form.submit }}
    </form>

    <button onclick="toggledark()">Toggle Dark Mode!</button>

    <script>
      const darkmode = localStorage.getItem('darkmode');
      if (darkmode == 'false') {
        document.body.className == "";
      }
      else if (darkmode == 'true') {
        document.body.className = "dark-mode";
      }
    </script>
  </body>
</html>
